body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  cursor: default;
  user-select: none;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: sans-serif;
}

// ---
// Title
// ---
.title {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  color: #ff2d98;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 24px;
}

.caption {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  text-align: center;
  margin-bottom: 32px;
}

// ---
// Card container
// ---
.container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

// ---
// Card
// ---
.card {
  width: 120px;
  height: 160px;
  margin: 10px;
  perspective: 1000px;

  .card__content {
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
  }

  .card__front,
  .card__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 160px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 1px 3px rgba(#000, 0.1);
    background: #fff;
  }

  .card__front {
    transform: rotateY(180deg);
  }

  .card__back {
    z-index: 2;
    transform: rotateY(0deg);
  }
}

.card--flipped {
  @extend .card;

  .card__content {
    transform: rotateY(180deg);
  }
}

// ---
// Modal
// ---
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.75);
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease;

  .modal__content {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(#000, 0.5);
    background: #fff;
    padding: 24px;
    text-align: center;
    transform: translateY(100px) scale(0.8);
    transition: all 0.4s ease;
  }

  .modal__title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
  }

  .modal__text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
    font-weight: 700;
  }

  .modal__button {
    padding: 16px 24px;
    background: #ff2d98;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }
  }
}

.modal--open {
  @extend .modal;
  pointer-events: auto;
  opacity: 1;

  .modal__content {
    transform: translateY(0) scale(0.8);;
  }
}
